* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

/* sarebbe meglio mettere sul body il font
 e il text align perchè in uesto modo hanno
  una specificità piu bassa dello user agent */

  /* magari ci costruiamo una classettina utility
  text-align e assegnarla ad hoc */

/* clearfix */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* header */

header {
    box-shadow: 0 0 50px inset fuchsia;
}

.page_title {
    font-size: 40px;
    color: rgb(233, 50, 233);
    padding: 40px 0;
    font-weight: 800;
}

/* inizio main */
.container {
    max-width: 900px;
    margin: auto;
    font-family: sans-serif;
}

.page_desc {
    margin-bottom: 40px;
}

/* rows */
.card-section:last-child {
    margin-bottom: 40px;
}

.row {
    margin-bottom: 20px;
}


/* columns */
.col {
    float: left;
}

.row.row-cols-3 :nth-child(3) {
    margin-right: 0;
}


.row-cols-3 > .col {
    width: calc((100% - 40px) / 3);
    margin-right: 20px;
}

/* per rendere il codice riutilizzabile abbiamo creato una classe apposta */
/* che specifica le grandezze delle colonne se ne dovessero essere 3. */

/* cards */
.card {
    background-color: black;
    box-shadow: 0 0 10px black;
}

.card_text {
    display: inline-block;
    padding: 16px 5px;
    text-align: justify;
}

/* ui hai usato l'inline block per affiancarlo all'immagine ma ti trovi 
uno spaziettino che non puoi gestire. per eliminarlo puoi dare all'immagine 
display block come anche alla card-text. */

.card-name {
    font-weight: 800;
    font-size: 16px;
}

.card-name,
.card-job {
    color: white;
}

.card-address {
    color: lightseagreen;
    font-style: normal;
}

.card-job,
.card-address {
    font-size: 13px;
}

.card_img {
    width: 90px;
    float: left;
}
/* fine main */
