* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-align: center;
}

.page_title {
    font-size: 40px;  
    color: rgb(233, 50, 233);
    padding-top: 20px;
    padding-bottom: 40px;
}

.container {
    max-width: 900px;
    margin: auto;
    font-family: sans-serif;
}

.page_desc {
    margin-bottom: 40px;
}

.card-section:last-child {
    margin-bottom: 40px;
}

.row {
    margin-bottom: 20px;
}


.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.row:last-child {
    padding-right: 0;
}

.col {
    width: calc(100%/3);
    float: left;
    padding-right: 20px;
}

.card {
    background-color: black;
    
}

.card-name {
    font-weight: bold;
    font-size: 16px;
}

.card-name,
.card-job {
    color: white;
}

.card-address {
    color: lightseagreen;
    font-style: normal;
}

.card-job,
.card-address {
    font-size: 13px;
}

.card_img {
    width: 90px;
    float: left;
}

